#video {
  display:none;
  padding: 20px;
  background-color: lightgrey;
  width: 80%;
  height: 80%;
  max-height: 80%;
}

.nav-btn img {
  max-height: 24px;
}

.reactql-bg {
  background-image: url(/reactql/bg/bg2@2x-75-opt.jpg);
  background-size: 100% 100%;
}

.play_video {
  margin-top:0px;
  margin-bottom:20px;
  width: 100px;
  cursor: pointer;
}

.card-img-top {
  max-height: 100px !important;
}

.svg {
  width: auto;
  height:75px;
}

.svg-small {
  height: 20px;
}

.git {
  height: 20px;
}

.version {
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 1px;
}

.install {
  width: 800px;
  max-width: 80%;
  padding: 10px;
  background-color: white;
  color: black;
  opacity: 0.5;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  word-wrap: break-word;
}

.buttons {
  margin-top: 75px;
}

.cli {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: black;
  color: limegreen;
  padding: 5px;
}

.banner img {
  width: 100%;
  max-width: 300px;
}